@import "abstract/mixins";
@import "abstract/variables";

@import "base/base";
@import 'base/reset';
@import "base/typography";
@import "base/utilities";

@import './component/btn';
@import './component/card';
@import './component/dropdown';

@import "layout/footer";
@import "layout/header";
@import 'layout/navigation';




@import 'pages/home';
@import "pages/section";

@import 'utilites/function';
