.header {


  &__hero {
    @include padpage;

    margin-bottom: 4rem;

    .composition {
      object-fit: contain;
      object-position: center;
      position: relative;
      width: 100%;

      img {
        width: 100%;
      }

      .slider--btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include absCenter;

        .img-right {
          right: 0;
        }

        .img-left {
          left: 0;
        }

        img {
          width: 5rem;
        }
      }
    }
  }




  &--main {
    @include padpage;

    .content {
      margin-top: 1.4rem;

      .textbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
          color: $accent-blue;
          text-decoration: underline;
        }
      }
    }
  }
}