$color-1: #f5f7ff;
$color-2: #fff;
$color-3: #0156ff;
$color-4: #01a4ff;
$color-5: #a2a6b0;
$color-6: #cacdd8;
$color-7: #000;
$color-8: #c94d3f;
$color-9: #78a962;
$color-10: #666666;

$color-black: #020203;
$color-white: #fff;
$accent-blue: #0156FF;
$gray-color-1: #F5F7FF;
$gray-color-2: #b6b8bd;
$primary-font:   "Poppins", sans-serif;