*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this defines what 1 rem is
  font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;
}

body,
html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
