* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
      box-sizing: border-box;
      background-color: $color-white;
      font-family: $primary-font;
  }
  
  h1,h2,h3{
      font-family: $primary-font;
  }     
  
  a {
    text-decoration: none;
  }
  
  li{
      list-style: none;
  }
  button{
    border: none;
    background-color: transparent;
  }