/* 

---  01 TYPOGRAPHY SYSTEM

-font sizes (px): 
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-FONT WEIGHT: 
default: 400
medium: 500
semi-bold: 600
bold: 700

--- 02 WHITE SPACE 

-Spacing system (px) 
2 / 4/ 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

.btn-border-bottom {
  color: $color-2;
  border-bottom: 2px solid $color-2;
}

.btn-outline {
  color: $color-3 !important;
  outline: 2px solid $color-3;
  padding: 0.8rem 2.6rem;
  border-radius: 5rem;
}
