#main{
    @include padpage;
}

#product--section {
    overflow-x: hidden;
}

.product {
    margin:  10rem auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__content {
        gap: 5rem;
        display: flex;
        flex-direction: column;

        .section {
            display: flex;
            // justify-content: center;3
            align-items: center;

            .brand {
                margin-right: -3rem;
            }

            .cards {
                margin-left: 4rem;
            }
        }
    }
}